<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Layout/styles.css">
    <title>LAYOUT</title>
</head>
<body>
    <main class="main">

        <section >

             <header class="cabecera">
                    <h1 class="tittle">Zafary</h1> 
            </header>
            
            <section class="sec-p">
                <nav class="menu hoverstyle">
                    <ul>
                        <div id="bt-home" class="separador">
                            <img class="icons" src="/Layout/assets/home.png" alt="Home">
                            <li class="txt">Home</li>
                        </div>

                        <div id="bt-watz" class="separador">
                            <img class="icons" src="/Layout/assets/whatsapp.png" alt="WhatzApp">
                            <li class="txt">WhatzApp</li>
                        </div>

                        <div id="bt-zpotify" class="separador">
                            <img class="icons" src="/Layout/assets/spotify.png" alt="Zpotify">
                            <li class="txt">Zpotify</li>
                        </div>
                    </ul>
                </nav>

                <Iframe class="dinamic" id="dinamiContent" src="../Home/index.html" frameborder="0"></Iframe>
            </section> 

    </section>    
    </main>
    <script src="/Layout/index.js"></script>
</body>
</html>